@scope (.sign-in-with-errors) to ([class*="loam-"]) {
  @layer loamui.components {
    :scope {
      container-type: inline-size;
      inline-size: 100%;
      margin-inline: auto;
      max-inline-size: 28rem;
    }
  }
}

@scope (.sign-in-with-errors form) to ([class*="loam-"]) {
  @layer loamui.components {
    :scope {
      display: block grid;
      font-size: var(--loam-text-md);
      gap: var(--loam-space-s);
      grid-template-columns: minmax(0, 1fr);
      overflow-wrap: anywhere;
    }

    h1,
    p {
      margin-block: 0;
    }

    div.actions {
      --loam-context: primary;

      display: block grid;
    }

    p {
      color: var(--loam-color-fg-muted);
      font-size: var(--loam-text-sm);
      text-align: center;
    }
  }
}
