@scope (.user-menu .loam-Menu-popup) to ([class*="loam-"]) {
  div.account {
    display: block grid;
    font-size: var(--loam-text-sm);
    gap: calc(var(--loam-space-3xs) / 2);
    padding-block: var(--loam-space-2xs);
    padding-inline: var(--loam-space-2xs);

    strong {
      color: var(--loam-color-fg-strong);
    }

    span.email {
      color: var(--loam-color-fg-muted);
      overflow-wrap: anywhere;
    }
  }

  form {
    margin: 0;
  }
}
