@scope (.grid-subgrid) to ([class*="loam-"]) {
  @layer loamui.components {
    :scope {
      container-type: inline-size;
    }

    ul {
      display: block grid;
      font-size: var(--loam-text-md);
      gap: var(--loam-space-xs);
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
      list-style: none;
      margin-block: 0;
      padding: 0;
    }
  }
}

@scope (.grid-subgrid li.workshop) to ([class*="loam-"]) {
  @layer loamui.components {
    :scope {
      display: block grid;
      grid-row: span 3;
      grid-template-rows: subgrid;
      margin-block: 0;
      overflow-wrap: anywhere;
    }

    div.head,
    div.description,
    div.actions {
      container-type: inline-size;
    }

    div.head {
      align-content: start;
      display: block grid;
      gap: var(--loam-space-3xs);
    }

    h3 {
      margin-block: 0;
    }

    p.when {
      color: var(--loam-color-primary-strong);
      font-size: var(--loam-text-sm);
      font-weight: 600;
      margin-block: 0;
    }

    div.description > p {
      color: var(--loam-color-fg-muted);
      font-size: var(--loam-text-md);
      margin-block: 0;
      text-wrap: pretty;
    }

    div.actions {
      align-self: end;
      display: block flex;
      flex-wrap: wrap;
      gap: var(--loam-space-2xs);
      padding-block-start: var(--loam-space-3xs);
    }
  }
}
