@scope (.comment-html) to ([class*="loam-"]) {
  :scope {
    container-type: inline-size;
    display: block grid;
    gap: var(--loam-space-2xs);
  }

  header {
    --loam-avatar-size: 2rem;

    align-items: center;
    color: var(--loam-color-fg-muted);
    display: block flex;
    flex-wrap: wrap;
    font-size: var(--loam-text-sm);
    gap: var(--loam-space-2xs);
  }

  a.author {
    color: var(--loam-color-fg-strong);
    font-size: var(--loam-text-md);
    font-weight: 600;
  }

  div.body {
    max-inline-size: var(--loam-measure);

    > * {
      margin-block: 0 var(--loam-space-2xs);
    }

    > :last-child {
      margin-block-end: 0;
    }

    li + li {
      margin-block-start: var(--loam-space-3xs);
    }
  }
}
