@scope (.testimonial) to ([class*="loam-"]) {
  :scope {
    display: block grid;
    gap: var(--loam-space-xs);
    margin: 0;
  }

  blockquote {
    border-inline-start: 0;
    color: var(--loam-color-fg);
    font-size: var(--loam-text-lg);
    margin: 0;
    padding-inline-start: 0;
    text-wrap: pretty;

    > p {
      margin: 0;
    }
  }

  figcaption {
    align-items: center;
    display: block flex;
    font-size: var(--loam-text-sm);
    gap: var(--loam-space-2xs);
    margin: 0;
  }

  div.author {
    display: block grid;
  }

  span.name {
    color: var(--loam-color-fg-strong);
    font-weight: 600;
  }

  span.role {
    color: var(--loam-color-fg-muted);
  }
}
