@scope (.empty-state) to ([class*="loam-"]) {
  :scope {
    align-content: center;
    container-type: inline-size;
    display: block grid;
    gap: var(--loam-space-xs);
    justify-items: center;
    padding-block: var(--loam-space-l);
    text-align: center;
  }

  svg {
    block-size: 4rem;
    color: var(--loam-color-fg-dim);
    inline-size: 4rem;
  }

  h2 {
    font-size: var(--loam-text-xl);
    margin: 0;
  }

  p {
    color: var(--loam-color-fg-muted);
    margin: 0;
    max-inline-size: var(--loam-measure);
    text-wrap: pretty;
  }

  div.actions {
    display: block flex;
    flex-wrap: wrap;
    gap: var(--loam-space-2xs);
    justify-content: center;
  }
}
