@scope (.users-table-with-roles) to ([class*="loam-"]) {
  :scope {
    display: block grid;
    gap: var(--loam-space-xs);
    margin: 0;
  }

  div.actions {
    --loam-context: primary;

    display: block flex;
    justify-content: end;
  }
}

@scope (.users-table-with-roles .loam-Table) to ([class*="loam-"]) {
  tbody th {
    font-weight: 400;
    text-align: start;
  }

  span.member {
    align-items: center;
    display: block flex;
    gap: var(--loam-space-2xs);

    span.text {
      display: block grid;
      gap: calc(var(--loam-space-3xs) / 2);

      strong {
        color: var(--loam-color-fg-strong);
        font-weight: 500;
        white-space: nowrap;
      }

      > span {
        color: var(--loam-color-fg-muted);
        font-size: var(--loam-text-xs);
      }
    }
  }

  td.role {
    min-inline-size: 12rem;
  }

  span.never {
    color: var(--loam-color-fg-muted);
  }

  span.active {
    --loam-context: success;
  }

  span.invited {
    --loam-context: info;
  }

  span.suspended {
    --loam-context: danger;
  }
}
