@scope (.forgot-password-on-label) to ([class*="loam-"]) {
  :scope {
    max-inline-size: 28rem;
  }

  div.label-row {
    align-items: baseline;
    display: block flex;
    flex-wrap: wrap;
    gap: var(--loam-space-3xs) var(--loam-space-xs);
    justify-content: space-between;

    a {
      font-size: var(--loam-text-sm);
      margin-inline-start: auto;
    }
  }
}
