@scope (.table-of-contents) to ([class*="loam-"]) {
  :scope {
    container-type: inline-size;
    display: block grid;
    gap: var(--loam-space-l);
  }

  article {
    max-inline-size: var(--loam-measure);
  }

  p.lede {
    color: var(--loam-color-fg-muted);
    font-size: var(--loam-text-lg);
  }

  @container (inline-size >= 48rem) {
    :scope {
      align-items: start;
      grid-template-columns: minmax(0, 1fr) 14rem;
    }
  }
}

@scope (.table-of-contents .loam-Nav) to ([class*="loam-"]) {
  @container (inline-size >= 48rem) {
    :scope {
      inset-block-start: var(--loam-space-s);
      order: 1;
      position: sticky;
    }
  }
}
