@scope (.user-button) to ([class*="loam-"]) {
  :scope {
    display: block grid;
    inline-size: min(100%, 20rem);
  }
}

@scope (.user-button .loam-Button) to ([class*="loam-"]) {
  span.text {
    display: block grid;
    flex: 1;
    font-weight: 400;
    min-inline-size: 0;
    text-align: start;
    white-space: normal;

    strong {
      color: var(--loam-color-fg-strong);
    }

    > span {
      color: var(--loam-color-fg);
      font-size: var(--loam-text-xs);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  svg {
    color: var(--loam-color-fg);
    flex: none;

    &:dir(rtl) {
      scale: -1 1;
    }
  }
}
