@scope (.table-sticky-header) to ([class*="loam-"]) {
  :scope {
    border: 1px solid var(--loam-color-line);
    border-radius: var(--loam-radius-md);
  }
}

@scope (.table-sticky-header .loam-Table) to ([class*="loam-"]) {
  :scope {
    --loam-table-block-size: 20rem;
  }

  th.number,
  td.number {
    text-align: end;
  }

  td.number {
    font-variant-numeric: lining-nums tabular-nums;
    white-space: nowrap;
  }

  tbody th {
    font-weight: 500;
    white-space: nowrap;
  }
}
