@scope (.input-with-tooltip) to ([class*="loam-"]) {
  :scope {
    max-inline-size: 28rem;
  }

  div.row {
    align-items: center;
    display: block grid;
    gap: var(--loam-space-2xs);
    grid-template-columns: minmax(0, 1fr) auto;
  }
}
