@scope (.table-sortable) to ([class*="loam-"]) {
  th.number,
  td.number {
    text-align: end;
  }

  td.number {
    font-variant-numeric: lining-nums tabular-nums;
    white-space: nowrap;
  }

  tbody th {
    font-weight: 500;
    white-space: nowrap;
  }

  span.low {
    --loam-context: warning;

    margin-inline-start: var(--loam-space-2xs);
  }
}
